fastapi
uvicorn[standard]
python-multipart
torch
torchvision
huggingface_hub
timm
transformers
scikit-learn
pandas
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
evaluate
sacrebleu
bert_score